.giveFeedbackButton{
    width: 170px;
    height: 47px;
    margin-top: 13px;
    margin-right:15px;
    padding: 10px 16px 10px 16px;
    border:1px;
    cursor: pointer;
    border-radius: 12px;
    opacity: 0px;
    font-size: 18px;
    font-family: Poppins;
    background-color: #121212;
    color:#34C94B;
}