.logoImage{
    /* padding-left: 32px; */
    margin:14px;
    display: flex;
 /* padding-top:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}